*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    height: 100vh;
    background-color: #d8d8f9;
    display: grid;
    place-items: center;
}

.calculator{
    margin-top: 20px;
    background-color:cornflowerblue;
    color:aquamarine;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    height: 88vh;
    width: 500px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
}

.screen{
    grid-column: 1 / 5;
    background-color: darkslateblue;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 5px 3px -2px rgba(0,0,0,0.2), 0 2px 9px 0 rgba(0,0,0,1.14), 0 1px 5px 0 rgba(0,0,0,0.20);
    word-wrap: break-word;
}

.btn{
    background-color: lightblue;
    border-radius: 10px;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
}

.btn:hover{
    background-color:lightcoral;
}

#zero{
    grid-column: span 2;
}

#equal{
    grid-row: span 2;
    background-color: lightpink;
}

#equal:hover{
    background-color: darksalmon;
}

.footer{
    margin-top: 15px;
    height: 8vh;
    width: 100%;
    background-color: darkslateblue;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
}

.footer-logo{
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
}

.footer-ul{
    list-style: none;
}

.footer-icon{
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}
.fab{
    color: aliceblue;
    font-size: 40px;
}